
.shop_navigation {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: rgb(205, 205, 255)
}

.navigation {
    text-align: end;
}

.navigation .ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.navigation .ul .li {
    width: fit-content;
}

.logo_holder {
    height: 100%;
    width: 100%;
}
ul {
    list-style-type: none;
}

.nav_icons {
    color: black;

}

.icon_holder {
    margin-left: 10px;
    color: rgb(19, 19, 31);
}



